---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { Markdown } from 'astro/components'
import Airtable from 'airtable';
export async function getStaticPaths() {
  let apiKey = import.meta.env.AIRTABLE_API_KEY;  
  let dbID = import.meta.env.AIRTABLE_DB_ID;
  console.log(import.meta.env.AIRTABLE_DB_ID);
  let airtable = new Airtable({apiKey}).base(dbID);
  let elements = await airtable('Podcasts').select({
    view: 'Grid view'
  }).firstPage();
  return elements.map((record) => ({
    params: { podcastID: record.id },
    props: {
      ...record.fields
    }
  }));
}
// const {aid} = Astro.request.params;
const art = Astro.props;
---
<BaseLayout title="Homepage">
  <h1>
  <a href="/arts">Podcasts</a> &lt;
   {art.Name}
  </h1>
  
  <div class="podcast-detail">
    <div class="cover-picture">
      <img src={art.Attachments[0].url}/>      
    </div>
    <div class="description">
        <Markdown>
          {art.Notes}    
        </Markdown> 
        <audio controls>
  <source src={art.Audio[0].url} type="audio/mpeg">
Your browser does not support the audio element.
</audio>
        
    </div>
  </div>
</BaseLayout>
<style>
img {
  max-width: 100px;
} 
</style>